@using Webdiyer.WebControls.Mvc;
@using Model
@model  IPagedList<Model.ViewLeaveManagement>

<script>

    function rescind(id) {
        //这是测试信息
        if (confirm("确认撤销吗?")) {
            $.ajax({
                type: 'POST',
                url: "/LeaveManagement/Rescind",
                data: { "Id": id },
                dataType: 'json',
                async: true,
                success: function (responseData) {
                    //debugger;
                    //alert("fdsf");
                    $(".tableDiv").load("/LeaveManagement/LeaveManagement");
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {//请求失败处理函数
                    console.log("请求失败，无法获取分组数据");
                }
            });
        }
        return false;
    }
</script>

<input type="button" value="我要请假" class="btn btn-info" />

<h2>未审批的请假单</h2>
<input type="button" value="撤销\全选" class="btn btn-info" />
<table class="table table-hover table-striped table-bordered">
    <tr>
        <td><input type="checkbox" value="全选" />全选</td>
        <td>请假单号</td>
        <td>请假人</td>
        <td>所在班级</td>
        <td>请假时间</td>
        <td>请假天数</td>
        <td>请假状态</td>
        <td>请假类型</td>
        <td>操作</td>
    </tr>
    @foreach (var i in Model )
    {
        <tr>
            <td><input type="checkbox" /></td>
            <td>@i.LeaveNo</td>
            <td>@i.UserAccount</td>
            <td>@i.ClassName</td>
            <td>@i.StartDateTime-@i.EndDateTime</td>
            <td>@i.LeaveDays</td>
            <td>@i.CodeDescription</td>
            <td>@i.LeaveCategory</td>
            <td>@Html.ActionLink("撤销", "Rescind", new { id = @i.LeaveRequestId },new { onclick= "return rescind(" + @i.LeaveStatusId + ")"})</td>
        </tr>
    }
</table>

